:root {
    --primary-font-family:'Quicksand', sans-serif;
    --secondary-font-family:'Montez', cursive;
    --primary-color:#222831;
    --secondary-color: #3e4a61;
    --gradient: linear-gradient(178.3deg, rgb(188, 251, 255) 11.5%, rgb(255, 253, 14) 103.1%);;
}

body {
    font-family: var(--secondary-font-family);  
    color: var(--secondary-color);
}

.navbar {
    font-family: var(--primary-font-family);
}

.navbar-brand-active {
    color: rgb(117, 179, 230) ;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.navbar-brand-active:hover,
.navbar-brand-active:focus {
    color: rgb(255, 253, 14);
}

.container-hero {
  text-align: center;
  padding: 160px 20px;
}

.title-hero-1 {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    font-size: 64px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center; 
}

.title-hero-2 {  
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
}

.navigation-links a {    
    font-family: var(--primary-font-family); 
    color: rgb(117, 179, 230);
    font-size: 24px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    margin: 5px;
}

.contact-link {
    background: var(--gradient);
}

.contact-link:hover,
.contact-link:focus {
    background: white;
    border: 1px solid rgb(117, 179, 230);
    font-weight: 600;
} 

.about-link:hover,
.about-link:focus,
.projects-link:hover,
.projects-link:focus {
    border: 1px solid rgb(117, 179, 230);
    font-weight: 700;
} 

.text-hero {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.project-desciption {
  padding: 120px 60px;
}

.project-title {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.project-text {
    font-size: 28px;
    margin: 0 auto;
}

.bubble-fluid {
    display: inline-block;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    border-radius: 1px;
    font-size: 14px; 
    margin: 0 auto;
    padding: 3px 3px;
    min-width: 70px;
    text-align: center;
}    

.button-project,
.button-about {
    font-family: var(--primary-font-family);
    color: rgb(117, 179, 230);
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-align: center;
    margin: 5px auto;
}

.button-project:hover,
.button-project:focus,
.button-about:hover,
.button-about:focus {
    border: 1px solid rgb(117, 179, 230);
    color: rgb(117, 179, 230);
    font-weight: 700;
}

.creator {
    font-family: var(--primary-font-family);
    font-size: 14px;
    margin: 20px auto;
}

.git-link,
.linkedin-link,
.insta-link,
.mail-link {
    color:rgb(117, 179, 230);
    font-size: 20px;
    margin: 5px 10px;
}

.git-link:hover,
.linkedin-link:hover,
.insta-link:hover,
.mail-link:hover {
    color: rgb(255, 253, 14);
    font-size: 25px;
}

.about-section {
    padding: 160px 20px;
}

.about-section-content {
    margin: 30px;
}

.title-about-1 {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    font-size: 54px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center; 
}

.title-about-2 {  
    font-size: 34px;
    line-height: 1.5;
    text-align: center;
}

.about-text,
.about-text-reasons {
    font-size: 24px;
}

.about-text-reasons {
    text-align: left;
}

.contact-me {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    font-size: 28px;
    text-align: center;
    margin: 10px auto;
}

.email-link {
    display: flex;
    justify-content: center;
    font-family: var(--primary-font-family);
    color: rgb(117, 179, 230);
    font-size: 22px;
    text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
   .container-hero {
    padding: 80px 20px;
  }

  .title-hero-1 {
    font-size: 54px;
    line-height: 1;
  }

  .title-hero-2 {
    font-size: 34px;
    line-height: 1;
  }

  .navigation-links a {    
    font-size: 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

   .about-section {
    text-align: center;
    padding: 0;
  }

  .title-about-1 {
    font-size: 54px;
    line-height: 1;
  }

   .title-about-2 {
    font-size: 34px;
    line-height: 1;
  }

  .about-text,
  .about-text-reasons {
    font-size: 28px;
}
}


 



